/**
 * ==================================================================================================
 * APP-RESPONSIVE.CSS
 * ==================================================================================================
 * Author: Kaitlin Kidd
 * Date: 11.16.16
 * Version: 0.0.1
 * Purpose: Responsive styles for website.
 * Notes:
 * --- W3C CSS Validation: http://jigsaw.w3.org/css-validator/#validate_by_uri
 * --- Bootstrap Media Queries: https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
 * --- Device Media Queries: http://resizr.co/
 * --------------------------------------------------------------------------------------------------
 * Revision History
 * --------------------------------------------------------------------------------------------------
 * Date          Revision Description                                                     Modified By
 * --------------------------------------------------------------------------------------------------
 * 11.16.2016 - Created Original Document                                             KAK
 * ==================================================================================================
 *
 * - Contents -
 * 00. Defaults
 * 01. Nav
 * 02. Hero
 * 03. Intro
  > 03.1 Definition
  > 03.2 Formation
  > 03.3 Classification
 * 04. Demo
 * 05. Code
 * 06. Sources
 * 07. Footer
 *
 *
 * -- Breakpoints --
 * |     375px     | - iPhone 6 - Portrait
 * |     480px     | - XS (Bootstrap)
 * |     768px     | - S (Bootstrap)
 * |     992px     | - M (Bootstrap)
 * |     1200px    | - L (Bootstrap)
 *
 */
 /* ------------------------------------------------------------------------- */
 /* ------------------------ iPhone 6 - Portrait  ------------------------ */
 /* ------------------------------------------------------------------------- */
@media only screen and (min-width : 375px) {
  /*************************
   * 00. Defaults
   *************************/


   /*************************
  * 01. Nav
  *************************/

  /*************************
  * 02. Hero
  *************************/
   #heroHeading {
     padding-top: 30%;
   }

   #heroHeading > h1 {
    font-size: 45px;
  }

  #heroHeading > h3 {
    font-size: 20px;
  }

  #heroHeading > h5 {
    font-size: 14px;
  }

  .scroller {
     width: 50px;
     height: 45px;
     margin-top: 15px;
     border: 2px solid #fff;
     border-radius: 100%!important;
     font-size: 20px;
     color: #fff;
     background: 0 0;
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;
  }

  /*************************
  * 03. Intro
  *************************/
  /*************************
   * 03.1  > Definition
   *************************/
   .definition-blurb {
     border-radius: 25px;
     background: #707682;
     padding: 20px;
     width: 100%;
   }

   .first-blurb {
       padding-right: 0px;
       padding-left: 0px;
       width: 100%;
       padding-bottom: 10px;
   }

   .second-blurb {
       padding-right: 0px;
       padding-left: 0px;
       width: 100%;
       padding-bottom: 10px;
   }

   .third-blurb {
       padding-right: 0px;
       padding-left: 0px;
       width: 100%;
       padding-bottom: 20px;
   }
   /*************************
    * 03.2  > Formation
    *************************/
    .formation-blurb {
      border-radius: 25px;
      background: #7e838e;
      height: 130px;
      width: 100%;
    }

    .formation-img {
      width: 100px;
      height: 100px;
      margin-left: 0px;
      margin-top: 15px;
    }

    /*************************
     * 03.3  > Classification
     *************************/
     .classification-blurb {
         border-radius: 25px;
         background: #9a9fa7;
         height: 300px;
         width: 100%;
     }
     /*************************
     * 03.4  > Properties
      *************************/
      .properties-blurb {
          border-radius: 25px;
          background: #9e9fa6;
          height: 250px;
          width: 100%;
          margin-bottom: 10px;
      }
  /*************************
  * 04. Demo
  *************************/

  /*************************
  * 05. Code
  *************************/

  /*************************
  * 06. Sources
  *************************/

  /*************************
  * 07. Footer
  *************************/
}
 /* ------------------------------------------------------------------------- */
 /* ------------------------ Extra Small Devices  ----------------------- */
 /* ------------------------------------------------------------------------- */
@media only screen and (min-width : 480px) {
   /*************************
   * 00. Defaults
   *************************/
   .heading {
     font-size: 24px;
   }

   /*************************
  * 01. Nav
  *************************/

  /*************************
  * 02. Hero
  *************************/
  #heroHeading > h1 {
    font-size: 45px;
  }

  #heroHeading > h3 {
    font-size: 20px;
  }

  #heroHeading > h5 {
    font-size: 14px;
  }

  .scroller {
     width: 50px;
     height: 45px;
     margin-top: 15px;
     border: 2px solid #fff;
     border-radius: 100%!important;
     font-size: 20px;
     color: #fff;
     background: 0 0;
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;
  }

  /*************************
  * 03. Intro
  *************************/
  /*************************
   * 03.1  > Definition
   *************************/
  #definitionHr {
    width: 175px;
    padding-bottom: 20px;
  }

  .first-blurb {
    width: 100%;
  }

  .second-blurb {
    width: 100%;
    padding-bottom: 20px;
  }

  .third-blurb {
    width: 100%;
    padding-bottom: 20px;
  }

  .definition-blurb {
    border-radius: 25px;
    background: #707682;
    padding: 20px;
    width: 100%;
  }
  /*************************
   * 03.2  > Formation
   *************************/
  #formationHr {
    width: 200px;
    padding-bottom: 20px;
  }

  .formation-text {
    color: #f4f3ee;
    padding-top:10px;
    font-size: 14px;
  }

  .formation-blurb {
    margin-top: 20px;
    border-radius: 25px;
    background: #7e838e;
    height: 170px;
    width: 100%;
  }

  .formation-img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
  }
  /*************************
   * 03.3  > Classification
   *************************/
  #classificationHr {
    width: 220px;
    padding-bottom: 20px;
  }

  .classification-blurb {
    border-radius: 25px;
    background: #9a9fa7;
    height: 220px;
    width: 100%;
    margin-bottom: 20px;
  }

  .mineral-class {
      border-radius: 15px;
      background: #9a9fa7;
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
  }
  /*************************
  * 03.4  > Properties
   *************************/
  #propertiesHr {
    width: 180px;
    padding-bottom: 20px;
  }

  .properties-blurb {
    border-radius: 25px;
    background: #9e9fa6;
    height: 190px;
    width: 100%;
    margin-bottom: 20px;
  }

  /*************************
  * 04. Demo
  *************************/
  #demoHr {
    width: 60px;
    padding-bottom: 20px;
  }

  #nameSearchInput {
    width: 80%;
    float: left;
    margin-right: 5px;
  }

  #letterSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 150px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #compositionSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 180px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #colorSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 140px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #content {
    overflow-y: scroll;
    height: 760px;
    width: 100%;
  }

  /*************************
  * 05. Code
  *************************/

  /*************************
  * 06. Sources
  *************************/

  /*************************
  * 07. Footer
  *************************/
}
 /* ------------------------------------------------------------------------- */
 /* ---------------------------  Small Devices  -------------------------- */
 /* ------------------------------------------------------------------------- */
@media only screen and (min-width : 768px) {
  /*************************
  * 00. Defaults
  *************************/
  .heading {
  font-size: 26px;
  }
  /*************************
  * 01. Nav
  *************************/

  /*************************
  * 02. Hero
  *************************/
  #hero {
       text-align: center;
      color: #f8f8f8;
      background: linear-gradient(rgba(55, 63, 81, 0.5), rgba(55, 63, 81, 0.9)), url("../img/hero6.jpg");
      background-size: cover;
      height: 690px;
   }

   #heroHeading > h1 {
  font-size: 65px;
  }

  #heroHeading > h3 {
  font-size: 25px;
  }

  #heroHeading > h5 {
  font-size: 17px;
  }

  /*************************
  * 03. Intro
  *************************/
  /*************************
   * 03.1  > Definition
   *************************/
   #definitionHr {
  width: 190px;
  padding-bottom: 20px;
  }

  .first-blurb {
  padding-left: 0px;
  width: 240px;
  }

  .second-blurb {
  padding-bottom: 20px;
  padding-left: 0px;
  width: 240px;
  }

  .third-blurb {
  padding-left: 0px;
  padding-bottom: 20px;
  width: 240px;
  }

  .definition-blurb {
  border-radius: 25px;
  background: #707682;
  padding: 15px;
  width: 220px;
  }

  #definitionMinerals {
  width: 110px;
  height: 120px;
  }

  .counter {
  color: #d9ba9d;
  font-size: 30px;
  }

  /*************************
   * 03.2  > Formation
   *************************/
  #formationHr {
  width: 220px;
  padding-bottom: 20px;
  }

  .formation-img {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 30px;
  }

  /*************************
   * 03.3  > Classification
   *************************/
  #classificationHr {
  width: 240px;
  padding-bottom: 20px;
  }

  .group-name {
  font-size:32px;
  text-align:center;
  color: #d9ba9d;
  padding-top:10px;
  padding-bottom: 0px;
  }

  .mineral-class {
  border-radius: 15px;
  background: #9a9fa7;
  height: 100px;
  width: 100%;
  }

  /*************************
   * 03.4  > Properties
   *************************/
  .properties-title {
  font-size:35px;
  text-align:center;
  color: #d9ba9d;
  padding-top:20px;
  padding-bottom: 0px;
  }

  .properties-blurb {
  border-radius: 25px;
  background: #9e9fa6;
  height: 200px;
  width: 100%;
  }

  /*************************
  * 04. Demo
  *************************/
  #nameSearchInput {
  width: 90%;
  float: left;
  margin-right: 5px;
  }

  /*************************
  * 05. Code
  *************************/

  /*************************
  * 06. Sources
  *************************/

  /*************************
  * 07. Footer
  *************************/
}
 /* ------------------------------------------------------------------------- */
/* ---------------------------  Medium Devices  ----------------------- */
/* ------------------------------------------------------------------------- */
@media only screen and (min-width : 992px) {
  /*************************
  * 00. Defaults
  *************************/
  .heading {
  font-size: 30px;
  }
  /*************************
  * 01. Nav
  *************************/

  /*************************
  * 02. Hero
  *************************/
  #hero {
       text-align: center;
      color: #f8f8f8;
      background: linear-gradient(rgba(55, 63, 81, 0.5), rgba(55, 63, 81, 0.9)), url("../img/hero6.jpg");
      background-size: cover;
   }

  #heroHeading {
      position: relative;
      padding-top: 20%;
      padding-bottom: 19%;
  }

  #heroHeading > h1 {
  font-size: 70px;
  }

  #heroHeading > h3 {
  font-size: 30px;
  }

  #heroHeading > h5 {
  font-size: 18px;
  }

  .scroller {
     width: 70px;
     height: 65px;
     margin-top: 15px;
     border: 2px solid #fff;
     border-radius: 100%!important;
     font-size: 35px;
     color: #fff;
     background: 0 0;
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;
 }

  /*************************
  * 03. Intro
  *************************/
  /*************************
   * 03.1  > Definition
   *************************/
  #definitionHr {
  width: 220px;
  padding-bottom: 20px;
  }

  .first-blurb {
      float:left;
      width: 33%;
      padding-left: 20px;
  }

  .second-blurb {
      float:left;
      width: 33%;
      padding-left: 20px;
  }

  .third-blurb {
      float:left;
      width: 33%;
      padding-left: 20px;
  }

  .definition-blurb {
    border-radius: 25px;
    background: #707682;
    padding: 20px;
    width: 260px;
  }

  .counter {
    color: #d9ba9d;
    font-size: 40px;
  }

  #definitionMinerals {
  width: 130px;
  height: 100px;
  }

  .counter {
  color: #d9ba9d;
  font-size: 30px;
  }

  /*************************
   * 03.2  > Formation
   *************************/
  #formationHr {
  width: 220px;
  padding-bottom: 20px;
  }

  .formation-text {
    color: #f4f3ee;
    padding-top:10px;
    font-size: 16px;
  }

  .formation-blurb {
    border-radius: 25px;
    background: #7e838e;
    height: 130px;
    width: 100%;
    padding-right: 10px;
  }

  .formation-img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 15px;
  }

  /*************************
   * 03.3  > Classification
   *************************/
  #classificationHr {
  width: 240px;
  padding-bottom: 20px;
  }

  .group-name {
  font-size:32px;
  text-align:center;
  color: #d9ba9d;
  padding-top:10px;
  padding-bottom: 0px;
  }

  .mineral-class {
  border-radius: 15px;
  background: #9a9fa7;
  height: 100px;
  width: 100%;
  }

  /*************************
   * 03.4  > Properties
   *************************/
  .properties-title {
  font-size:35px;
  text-align:center;
  color: #d9ba9d;
  padding-top:20px;
  padding-bottom: 0px;
  }

  .properties-blurb {
  border-radius: 25px;
  background: #9e9fa6;
  height: 200px;
  width: 100%;
  }

  /*************************
  * 04. Demo
  *************************/
  #nameSearchInput {
  width: 60%;
  float: left;
  margin-right: 5px;
  }

  #letterSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 330px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #compositionSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 400px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #classSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 380px;
    border-radius: 10px;
    margin-bottom:10px;
    color: #f4f3ee;
  }

  .split {
    float:left;
    padding-right:30px;
  }

  #colorSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 220px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #fractureSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 140px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #mohsSearchContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 140px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  #slider {
    width: 280px;
    margin-left:5px;
    margin-bottom:5px;
  }

  #resultsContainer {
    background-color:  #939397;
    padding: 10px 10px 10px 10px;
    height: 910px;
    border-radius: 10px;
    margin-bottom:10px;
  }

  /*************************
  * 05. Code
  *************************/

  /*************************
  * 06. Sources
  *************************/

  /*************************
  * 07. Footer
  *************************/
}
/* ------------------------------------------------------------------------- */
/* -----------------------------  Large Devices  ------------------------ */
/* ------------------------------------------------------------------------- */
@media only screen and (min-width : 1200px) {
  /*************************
  * 00. Defaults
  *************************/
  body, html {
     width: 100%;
     height: 100%;
 }

 body, h1, h2, h3, h4, h5 {
     font-family: 'Jaldi', sans-serif;
     font-weight: 800;
 }

 h2 {
     text-align: left;
 }

 h3 {
     text-transform: lowercase;
     font-style: italic;
 }

 h4 {
     color: #f4f3ee;
     font-size: 22px;
 }

 h5 {
     color: #fff;
     font-size: 18px;
 }

 hr {
     width: 150px;
     float: left;
     border-top: 3px solid #e7e7e7;
 }

 p {
   color: #f4f3ee;
   font-size: 16px;
   padding-bottom: 20px;
 }

 .link:link {
     color: #d9ba9d;
     text-decoration: none;
 }

 .link:visited {
     color: #d9ba9d;
     text-decoration: none;
 }

 .link:hover {
     color: #d9ba9d;
     text-decoration: none;
 }

 .link:active {
     color: #d9ba9d;
     text-decoration: none;
 }

 .link-sources:link {
     color: #e0c7b0;
     text-decoration: none;
 }

 .link-sources:visited {
     color: #e0c7b0;
     text-decoration: none;
 }

 .link-sources:hover {
     color: #e0c7b0;
     text-decoration: none;
 }

 .link-sources:active {
     color: #e0c7b0;
     text-decoration: none;
 }

 a:link {
     text-decoration: none;
 }

 a:visited {
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }

 a:active {
     text-decoration: none;
 }

 .heading {
   color: #f4f3ee;
   padding-top: 30px;
 }

 .sources-list li {
   font-size: 16px;
 }

 /*************************
  * 01. Nav
  *************************/
  /* Source: https://getbootstrap.com/examples/navbar-fixed-top/ */
  .navbar-default {
      background-color: #24272d;
      border-color: #24272d;
  }

  .navbar-default .navbar-nav>li>a:link{
     color: #e5e5e5;
     font-size: 16px;
 }

 .navbar-default .navbar-nav>li>a:visited{
    color: #e5e5e5;
    font-size: 16px;
 }

 .navbar-default .navbar-nav>li>a:hover {
    color: #24272d;
    font-size: 16px;
    background-color: #fff;
 }

 .navbar-default .navbar-nav>li>a:active {
    color: #24272d;
    font-size: 16px;
    background-color: #fff;
 }

 .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand a:link{
     color: #e5e5e5;
     margin-left: -15px;
     font-size: 16px;
 }

 .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand a:visited{
     color: #e5e5e5;
     margin-left: -15px;
     font-size: 16px;
 }

 /*************************
  * 02. Hero
  *************************/
  #hero {
       text-align: center;
      color: #f8f8f8;
      background: linear-gradient(rgba(55, 63, 81, 0.5), rgba(55, 63, 81, 0.9)), url("../img/hero6.jpg");
      background-size: cover;
   }

  #heroHeading {
      position: relative;
      padding-top: 20%;
      padding-bottom: 19%;
  }

   #heroHeading > h1 {
      margin: 0;
      font-size: 6em;
  }

 #heroHr {
      width: 380px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      float: inherit;
  }

  .scroller {
     width: 70px;
     height: 65px;
     margin-top: 15px;
     border: 2px solid #fff;
     border-radius: 100%!important;
     font-size: 35px;
     color: #fff;
     background: 0 0;
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;
 }

  .scroller:hover,
  .scroller:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
  }

  .spacer {
    padding-top:30px;
  }

  /*************************
   * 03 Introduction
   *************************/
  /*************************
   * 03.1  > Definition
   *************************/
   #definition {
     min-height: 370px;
     padding: 10px 0;
     background-color:  #343c4d;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
   }

   #definitionHr {
     width: 220px;
     padding-bottom: 20px;
   }

   .wrapper {
     clear:both;
 }

 .first-blurb {
     float:left;
     padding-left: 45px;
 }

 .second-blurb {
     float:left;
     padding-left: 45px;
 }

 .third-blurb {
     float:left;
     padding-left: 45px;
 }

 .definition-blurb {
   border-radius: 25px;
   background: #707682;
   padding: 20px;
   width: 260px;
 }

 .counter {
   color: #d9ba9d;
   font-size: 50px;
 }

 #definitionMinerals {
   width: 100px;
   height: 100px;
   margin-left:10px;
 }

 #blurbMinerals {
   color: #343c4d;
   text-align: center;
   font-size: 15px;
 }

 #definitionPlanet {
   margin-left:10px;
   width: 90px;
   height: 90px;
 }

 #blurbPlanet {
   color: #343c4d;
   text-align: center;
   padding-top: 10px;
   font-size: 15px;
 }

 #definitionChemicals {
   width: 90px;
   height: 90px;
   margin-left:10px;
 }

 #blurbChemicals {
   color: #343c4d;
   text-align: center;
   padding-top: 10px;
   font-size: 15px;
 }

 #definitionSpacer {
   padding-bottom: 230px;
 }

 /*************************
  * 03.2  > Formation
  *************************/
  #formation {
      min-height: 370px;
      padding: 10px 0;
      background-color:  #484f5e;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
  }

  .hr-divider {
      display: block;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      text-align: center;
      width: 100%;
  }

  #formationHr {
    width: 255px;
    padding-bottom: 20px;
  }

  .formation-text {
    color: #f4f3ee;
    padding-top:10px;
    font-size: 16px;
  }

  .formation-blurb {
    border-radius: 25px;
    background: #7e838e;
    height: 130px;
    width: 160px;
  }

  .formation-img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 15px;
  }

  /*************************
   * 03.3  > Classification
   *************************/
   #classification {
       min-height: 370px;
       padding: 10px 0;
       background-color:  #707682;
       border-top: 1px solid #e7e7e7;
       border-bottom: 1px solid #e7e7e7;
   }

    #classificationHr {
      width: 280px;
      padding-bottom: 20px;
    }

   .classification-blurb {
       border-radius: 25px;
       background: #9a9fa7;
       height: 200px;
       width: 100%;
   }

   .group-name {
     font-size:35px;
     text-align:center;
     color: #d9ba9d;
     padding-top:10px;
     padding-bottom: 0px;
   }

   .group-description {
     color: #f4f3ee;
     padding-bottom:20px;
     padding-left:20px;
     padding-right:20px;
     text-align:center;
     font-size:15px;
   }

   .mineral-class {
       border-radius: 15px;
       background: #9a9fa7;
       height: 100px;
       width: 100%;
   }

   .class-name {
     font-size:18px;
     text-align:center;
     color: white;
     padding-top:10px;
   }

   .class-examples {
     color: #f4f3ee;
     padding-bottom:20px;
     padding-left:20px;
     padding-right:20px;
     font-size:15px;
   }

   #rowSpace {
     padding-bottom: 10px;
   }

   /*************************
   * 03.4  > Properties
    *************************/
    #properties {
        min-height: 370px;
        padding: 10px 0;
        background-color:  #757780;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }

    #propertiesHr {
      width: 220px;
      padding-bottom: 20px;
    }

    .properties-blurb {
        border-radius: 25px;
        background: #9e9fa6;
        height: 250px;
        width: 100%;
    }

    .properties-title {
      font-size:25px;
      text-align:center;
      color: #d9ba9d;
      padding-top:20px;
      padding-bottom: 0px;
    }

    .properties-description {
      color: #f4f3ee;
      padding-bottom:20px;
      padding-left:20px;
      padding-right:20px;
      text-align:center;
      font-size:15px;
    }

  /*************************
   * 04. Demo
   *************************/
   #demo {
       min-height: 350px;
       padding: 10px 0;
       background-color: #79787e;
       border-top: 1px solid #e7e7e7;
       border-bottom: 1px solid #e7e7e7;
   }

   #demoHr {
     width: 70px;
     padding-bottom: 20px;
   }

   #selectAllContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 50px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   #selectAllBtn {
     background-color: #484f5e;
     border-color: #484f5e;
   }

   #nameSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 100px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   #nameSearchInput {
     width: 70%;
     float: left;
     margin-right: 5px;
   }

   #nameSearchBtn {
     float: left;
   }

   #letterSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 270px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   .letter-search-btn {
     margin-bottom:10px;
   }

   #compositionSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 320px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   .composition-search-btn {
     margin-bottom:10px;
   }

   #classSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 350px;
     border-radius: 10px;
     margin-bottom:10px;
     color: #f4f3ee;
   }

   .split {
     float:left;
     padding-right:40px;
   }

   #colorSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 170px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   #multiple {
       background: #d93434;
       background-image: -webkit-linear-gradient(top, #d93434, #472bb8);
       background-image: -moz-linear-gradient(top, #d93434, #472bb8);
       background-image: -ms-linear-gradient(top, #d93434, #472bb8);
       background-image: -o-linear-gradient(top, #d93434, #472bb8);
       background-image: linear-gradient(to bottom, #d93434, #472bb8);
       font-family: Arial;
       color: #ffffff;
       font-size: 20px;
       padding: 10px 20px 10px 20px;
       text-decoration: none;
   }

   #fractureSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 100px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   #fractureSelect {
     width: 100%;
   }

   #mohsSearchContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 120px;
     border-radius: 10px;
     margin-bottom:10px;
   }

   #slider {
     width: 332px;
     margin-left:5px;
     margin-bottom:5px;
   }

   #resultsContainer {
     background-color:  #939397;
     padding: 10px 10px 10px 10px;
     height: 770px;
     border-radius: 10px;
     margin-bottom:10px;
   }

 /* Source: http://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar
   ::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 7px;
 }
 ::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: rgba(0,0,0,.5);
     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
 }
 */

 #content {
   overflow-y: scroll;
   height: 760px;
 }

   .table th, .table td {
      border-top: none !important;
  }

 /*************************
  * 04. Code
  *************************/
  #code {
      min-height: 370px;
      padding-top: 50px;
      background-color: #847b7a;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
  }

  .code-info {
   font-size: 16px;
   color: #f4f3ee;
   padding-bottom: 10px;
 }

 pre {
   padding: 0px;
 }

 code {
   font-family: 'Jaldi', sans-serif;
   font-size: 15px;
 }

 /* Source: http://www.w3schools.com/howto/howto_js_accordion.asp */
 button.accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
     transition: 0.4s;
     border-radius: 8px;
 }

 button.accordion.active, button.accordion:hover {
     background-color: #ddd;
 }

 button.accordion:after {
     content: '\02795';
     font-size: 13px;
     color: #777;
     float: right;
     margin-left: 5px;
 }

 button.accordion.active:after {
     content: "\2796";
 }

 div.panel {
     padding: 0 18px;
     background-color: white;
     max-height: 0;
     overflow: hidden;
     transition: 0.6s ease-in-out;
     opacity: 0;
 }

 div.panel.show {
     opacity: 1;
     max-height: 2200px;
     background-color: #847b7a;
 }

 .panel {
   background-color: #847b7a;
   margin-bottom: 0px;
 }

 #topButton {
   float: right;
   background-color:#939397;
   border-color:#939397;
   color: #fff;
   margin-bottom: 5px;
 }

 #selectAll {
   background-color: #f7f1eb;
 }

 #searchByName {
   background-color: #efe3d7;
 }

 #searchByColor {
   background-color: #e8d5c4;
 }

 #searchByMohs {
   background-color: #e0c7b0;
 }

 /*************************
  * 05. Sources
  *************************/
 #sources {
     min-height: 350px;
     padding: 10px 0;
     background-color:  #a2846d; /* #9a8271; */
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 #sourcesHr {
   width: 90px;
   padding-bottom: 20px;
 }

 .sources-list {
     color: #f4f3ee;
 }


 /*************************
  * 06. Footer
  *************************/
 footer a {
     color: #f4f3ee;
 }

 footer {
     background-color: #b68964;
     padding: 40px 0 30px;
 }

 footer p {
     color: #f4f3ee;
 }

 .copyright {
     text-align: left;
     color: #f4f3ee;
     font-size: 15px;
 }

 .social {
     text-align: right;
 }

 .social-icons {
     color: #d9ba9d;
     margin-right: 20px;
 }

}
