/**
 * ==================================================================================================
 * APP-RESPONSIVE.CSS
 * ==================================================================================================
 * Author: Kaitlin Kidd
 * Date: 11.16.16
 * Version: 0.0.1
 * Purpose: Responsive styles for website.
 * Notes:
 * --- W3C CSS Validation: http://jigsaw.w3.org/css-validator/#validate_by_uri
 * --- Bootstrap Media Queries: https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
 * --- Device Media Queries: http://resizr.co/
 * --------------------------------------------------------------------------------------------------
 * Revision History
 * --------------------------------------------------------------------------------------------------
 * Date          Revision Description                                                     Modified By
 * --------------------------------------------------------------------------------------------------
 * 11.16.2016 - Created Original Document                                             KAK
 * ==================================================================================================
 *
 * - Contents -
 * 00. Defaults
 * 01. Nav
 * 02. Hero
 * 03. Intro
  > 03.1 Definition
  > 03.2 Formation
  > 03.3 Classification
 * 04. Demo
 * 05. Code
 * 06. Sources
 * 07. Footer
 *
 *
 * -- Breakpoints --
 * |     375px     | - iPhone 6 - Portrait
 * |     480px     | - XS (Bootstrap)
 * |     768px     | - S (Bootstrap)
 * |     992px     | - M (Bootstrap)
 * |     1200px    | - L (Bootstrap)
 *
 */
 /* ------------------------------------------------------------------------- */
 /* ------------------------ iPhone 6 - Portrait  ------------------------ */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 375px) {
   /*************************
 * 00. Defaults
 *************************/
p {
  font-size: 14px;
}
 /*************************
* 01. Nav
*************************/

/*************************
* 02. Hero
*************************/

/*************************
* 03. Intro
*************************/

/*************************
* 04. Demo
*************************/

/*************************
* 05. Code
*************************/

/*************************
* 06. Sources
*************************/

/*************************
* 07. Footer
*************************/

}
 /* ------------------------------------------------------------------------- */
 /* ------------------------ Extra Small Devices  ----------------------- */
 /* ------------------------------------------------------------------------- */
  @media only screen and (min-width : 480px) {
 /*************************
 * 00. Defaults
 *************************/
 .heading {
   font-size: 24px;
 }

 /*************************
* 01. Nav
*************************/

/*************************
* 02. Hero
*************************/
#heroHeading > h1 {
  font-size: 45px;
}

#heroHeading > h3 {
  font-size: 20px;
}

#heroHeading > h5 {
  font-size: 14px;
}

.scroller {
   width: 50px;
   height: 45px;
   margin-top: 15px;
   border: 2px solid #fff;
   border-radius: 100%!important;
   font-size: 20px;
   color: #fff;
   background: 0 0;
   -webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
   transition: background .3s ease-in-out;
}

/*************************
* 03. Intro
*************************/
#definitionHr {
  width: 170px;
  padding-bottom: 20px;
}

.first-blurb {
  width: 100%;
  padding-left: 10px;
}

.second-blurb {
  width: 100%;
  padding-bottom: 20px;
  padding-left: 10px;
}

.third-blurb {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
}

.definition-blurb {
  border-radius: 25px;
  background: #707682;
  padding: 20px;
  width: 100%;
}

#formationHr {
  width: 200px;
  padding-bottom: 20px;
}

.formation-text {
  color: #f4f3ee;
  padding-top:10px;
  font-size: 14px;
}

.formation-blurb {
  border-radius: 25px;
  background: #7e838e;
  height: 130px;
  width: 100%;
}

.formation-img {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

#classificationHr {
  width: 220px;
  padding-bottom: 20px;
}

.classification-blurb {
  border-radius: 25px;
  background: #9a9fa7;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

#propertiesHr {
  width: 180px;
  padding-bottom: 20px;
}

.properties-blurb {
  border-radius: 25px;
  background: #9e9fa6;
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
}

#demoHr {
  width: 60px;
  padding-bottom: 20px;
}


/*************************
* 04. Demo
*************************/

/*************************
* 05. Code
*************************/

/*************************
* 06. Sources
*************************/

/*************************
* 07. Footer
*************************/
}
 /* ------------------------------------------------------------------------- */
 /* ---------------------------  Small Devices  -------------------------- */
 /* ------------------------------------------------------------------------- */
  @media only screen and (min-width : 768px) {
 /*************************
 * 00. Defaults
 *************************/

 /*************************
* 01. Nav
*************************/

/*************************
* 02. Hero
*************************/

/*************************
* 03. Intro
*************************/

/*************************
* 04. Demo
*************************/

/*************************
* 05. Code
*************************/

/*************************
* 06. Sources
*************************/

/*************************
* 07. Footer
*************************/
}
 /* ------------------------------------------------------------------------- */
/* ---------------------------  Medium Devices  ----------------------- */
/* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 992px) {
/*************************
* 00. Defaults
*************************/

/*************************
* 01. Nav
*************************/

/*************************
* 02. Hero
*************************/

/*************************
* 03. Intro
*************************/

/*************************
* 04. Demo
*************************/

/*************************
* 05. Code
*************************/

/*************************
* 06. Sources
*************************/

/*************************
* 07. Footer
*************************/
}
/* ------------------------------------------------------------------------- */
/* -----------------------------  Large Devices  ------------------------ */
/* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 1200px) {
/*************************
* 00. Defaults
*************************/

/*************************
* 01. Nav
*************************/

/*************************
* 02. Hero
*************************/

/*************************
* 03. Intro
*************************/

/*************************
* 04. Demo
*************************/

/*************************
* 05. Code
*************************/

/*************************
* 06. Sources
*************************/

/*************************
* 07. Footer
*************************/
}
